:root {
    --clr-main: lightblue;
    --clr-menu: rgb(34, 183, 39);
    --font-titulo: 'Rubik', sans-serif;
    --size-titulo: 10rem;
    --size-menu: 1rem;
    --gradient: linear-gradient(to right, #31CCCC, #3B86DE);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.head {
    background-color: var(--clr-main);
    margin: 0 0 1rem 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;

}


.principal {

    margin-top: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.principal a .notebookportada {
    border: 10px solid;
    border-color: var(--gradient);
    border-style: outset;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 12rem;

}

.principal a .notebookportada img {
    width: 31%;
    margin: 0;
    padding: 0;
}

.principal a .pcportada {
    border: 10px solid;
    border-color: var(--gradient);
    border-style: outset;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 0;

}

.principal a .pcportada img {
    width: 31%;
    margin: 0;
    padding: 0;
}

.secundaria {

    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.secundaria .monitor-portada {
    border: 10px solid;
    border-color: var(--gradient);
    border-style: outset;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 1rem;

}

.secundaria .monitor-portada img {
    width: 30%;
}

.secundaria .perifericos-portada {
    border: 10px solid;
    border-color: var(--gradient);
    border-style: ridge;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

.secundaria .perifericos-portada img {
    width: 30%;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    margin: 0;
    padding: 0;


}

.sponsors h2 {
    margin: 1rem 0 1rem 0;
    padding: 0;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.sponsors .tiendas {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: auto;
}


.sponsors .tiendas img {
    width: 15%;
    aspect-ratio: 2/1;
    object-fit: contain;


}


.sobre-nosotros {
    background-color: #dedede;
    width: auto;
    border-radius: 8%;
}

.sobre-nosotros .tit-logo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 2rem auto;
}

.sobre-nosotros .tit-logo img {
    width: 50%;
    margin-top: 2rem;
}

.sobre-nosotros .textos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 0 1rem 1rem;
}

.sobre-nosotros .textos .texto-1 {

    margin: 0 1rem 0 1rem;
    font-style: var(--font-titulo);
}

.sobre-nosotros .textos .texto-2 {
    margin: 0 1rem 0 1rem;
    font-style: var(--font-titulo);
}

.contacto {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 1rem 3rem 1rem;
}

.contacto h2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;

}

.contacto .nombre {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    margin: 0 0 1rem 0;
    gap: 1rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    padding: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;


}

[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid #CC6666;
}

.contacto .email {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    margin: 0 0 1rem 0;
    gap: 5rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    padding: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;

}

[type="email"] {
    width: 100%;
    height: 30px;
    border: 1px solid #CC6666;
}

.contacto .mensaje {
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: left;
    margin: 0 0 1rem 0;
    gap: 1rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    padding: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;

}




.feedback-input {
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

.contacto .boton {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

[type="submit"] {

    width: 50%;
    background: var(--gradient);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

[type="submit"]:hover {
    background: #CC4949;
}

.contacto .redes {

    display: flex;
    flex-flow: column;
    justify-content: top;
    align-items: center;
    margin: 0 1rem 1rem 1rem;

}

.contacto .tit-redes {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: top;
    margin: 0 0 8rem 0;
}

.contacto .redes .logo-redes {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contacto .redes .logo-redes .circuloig {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.contacto .redes .logo-redes .circuloface {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.contacto .redes .logo-redes .circulowap {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.contacto .redes .logo-redes .circuloig:hover {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

}

.contacto .redes .logo-redes .circuloface:hover {
    background-color: blue;
}

.contacto .redes .logo-redes .circulowap:hover {
    background-color: green;
}

footer {
    background-color: #f7f7f7;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 7%;

}
.menu-footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.menu-footer .prod-footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.menu-footer .prod-footer ul a {
    list-style: none;
    text-decoration: none;
    color: black;
}
.menu-footer .prod-footer ul a:hover {
    text-decoration: underline;
}

.menu-footer .carrito-footer, .about-footer, .contacto-footer {
    display: flex;
    justify-content: center;
    align-items: top;
    
}
.menu-footer .carrito-footer a {
    text-decoration: none;
    color: black;
}
.menu-footer .carrito-footer a:hover {
    text-decoration: underline;
}
.menu-footer .about-footer a {
    text-decoration: none;
    color: black;
}
.menu-footer .about-footer a:hover {
    text-decoration: underline;
}
.menu-footer .contacto-footer a {
    text-decoration: none;
    color: black;
}
.menu-footer .contacto-footer a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1024px) {

    .principal {

        margin-top: 12rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: auto;

    }

    .secundaria {

        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 1rem;

    }
}

@media  screen and (max-width: 768px) {

    .principal {

        margin-top: 12rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: auto;

    }
    .principal a .notebookportada {
        border: 10px solid;
        border-color: var(--gradient);
        border-style: outset;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: auto;
        flex-wrap: wrap;
    
    }
    
    .principal a .notebookportada img {
        width: 31%;
        margin: 0;
        padding: 0;
    }
    
    .principal a .pcportada {
        border: 10px solid;
        border-color: var(--gradient);
        border-style: outset;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 0;
    
    }
    
    .principal a .pcportada img {
        width: 31%;
        margin: 0;
        padding: 0;
    }

    .secundaria {

        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

    }

    
    .secundaria .monitor-portada {
        border: 10px solid;
        border-color: var(--gradient);
        border-style: outset;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-bottom: 1rem;
    
    }
    
    .secundaria .monitor-portada img {
        width: 30%;
    }
    
    .secundaria .perifericos-portada {
        border: 10px solid;
        border-color: var(--gradient);
        border-style: ridge;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    
    }
    
    .secundaria .perifericos-portada img {
        width: 30%;
    }

    .sobre-nosotros .textos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin: 0 0 1rem 1rem;
    }
    .sponsors {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        margin: 0;
        padding: 0;

    
    }
    
    .sponsors h2 {
        margin: 1rem 0 1rem 0;
        padding: 0;

        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    
    }
    
    .sponsors .tiendas {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        width: auto;
    }
    .contacto .email {
        display: flex;
        flex-flow: row;
        justify-content: left;
        align-items: center;
        margin: 0 0 1rem 0;
        gap: 4rem;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border: 2px solid #CC6666;
        padding: 13px;
        margin-bottom: 15px;
        box-sizing: border-box;
        outline: 0;
        width: 100%;
        }
        .contacto {

            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 1rem 1rem 3rem 1rem;
        }
       
        .contacto .redes {
            margin-top: 1rem;
        }   

    .contacto .redes .tit-redes  {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: 1rem 1rem 2rem 1rem;
    }
    
    .contacto .redes .logo-redes {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }
    .menu-footer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin-top: 2rem;
    }

    
}

